.float-nav{
    position: fixed;
    left:5px;
    top:100px;
    background: #cecece;
    border:1px solid #cecd80;
    border-radius: 5px;
}
.copyright {
    padding-top: 10px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.main-panel{
    background: #cdcdcd;
}

.logon-mask{
    background: rgba(201, 201, 201, 0.73);
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    padding:40px;
}
.no-scroll{
    overflow: hidden;
}