<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mrz.dao.BlogDao">
    <sql id="cols">
        title,create_date,edit_date,texts,image_id,class_type
    </sql>



    <select id="selectBlogListWithoutContent" resultType="Blog">
        select id,title,create_date,edit_date,image_id,class_type from blogs
    </select>

    <select id="selectBlogList" resultType="Blog">
        select * from blogs
    </select>
    <select id="selectCount" resultType="int">
        select count(id) from blogs
    </select>
    <select id="selectById" resultType="Blog">
        select *
        from blogs
        where id = #{id}
    </select>
    <insert id="insertBlog" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
        insert into
        blogs(<include refid="cols"></include>)
        values(#{title},#{createDate},#{editDate},#{texts},#{imageId},#{classType})
    </insert>
    <delete id="deleteById">
        delete
        from blogs
        where id = #{id}
    </delete>
</mapper>