<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mrz.dao.WordDao">
    <select id="getWords" resultType="Word">
        select
          remark,
          hashcode,
          sum(num) as num
        from words
        group by remark
        order by num desc
        limit #{start},#{num}
    </select>

    <delete id="delAll">
        delete from words
    </delete>

    <select id="getWordByName" resultType="Word">
        select *
        from words
        where name=#{name}
    </select>

    <select id="getWordsByWordHash" resultType="Word">
        select *
        from words
        where hashcode = #{hashcode}
    </select>

    <delete id="delWordsByBlogid">
        delete from words
        where blogid = #{blogid}
    </delete>

</mapper>