<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mrz.mapper.ItemMapper">
        <resultMap id="item_result_map" type="Item">
                <id property="id" column="id"></id>
                <result property="itemId" column="item_id"></result>
                <result property="title" column="title"></result>
                <result property="imageUrl" column="image_url"></result>
                <result property="detailUrl" column="detail_url"></result>
                <result property="itemClass" column="item_class"></result>
                <result property="tbkUrl" column="tbk_url"></result>
                <result property="price" column="price"></result>
                <result property="myMoney" column="my_money"></result>
                <result property="shopName" column="shop_name"></result>
                <result property="shopType" column="shop_type"></result>
                <result property="startDate" column="start_date"></result>
                <result property="endDate" column="end_date"></result>
                <result property="shortUrl" column="short_url"></result>
                <result property="taoUrl" column="tao_url"></result>
                <result property="salesVolume" column="sales_volume"></result>
                <association property="favourable" column="item_id" select="cn.mrz.mapper.FavourableMapper.findFavourableByItemId"></association>
        </resultMap>
        <sql id="insert_column">
                item_id ,title,image_url,detail_url,item_class ,tbk_url,price,my_money,shop_name,shop_type,start_date,end_date,short_url,tao_url,sales_volume
        </sql>

        <select id="selectItem" resultMap="item_result_map">
                select * from item
        </select>

        <select id="selectByItemId" resultMap="item_result_map">
                select * from item where item_id = #{itemId}
        </select>

        <insert id="insertItem" parameterType="Item" useGeneratedKeys="true" keyProperty="id">
                insert into
                item(<include refid="insert_column"></include>)
                values(#{itemId},#{title},#{imageUrl},#{detailUrl},#{itemClass},#{tbkUrl},#{price},#{myMoney},#{shopName},#{shopType},#{startDate},#{endDate},#{shortUrl},#{taoUrl},#{salesVolume})
        </insert>
        <insert id="insertItemList" parameterType="java.util.List">
                insert into
                item(<include refid="insert_column"></include>)
                values
                <foreach collection ="list" item="item" index= "index" separator =",">
                        (#{item.itemId},#{item.title},#{item.imageUrl},#{item.detailUrl},#{item.itemClass},#{item.tbkUrl},#{item.price},#{item.myMoney},#{item.shopName},#{item.shopType},#{item.startDate},#{item.endDate},#{item.shortUrl},#{item.taoUrl},#{item.salesVolume})
                </foreach>

        </insert>
</mapper>