<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mrz.mapper.VisitMapper">
    <select id="selectVisitList" resultType="Visit">
        select * from visit
    </select>

    <select id="getVisitByBlogId" resultType="Visit">
        select *
        from visit
        where blog_id=#{blogId}
    </select>

    <update id="updateVisit">
        update visit
          set num = #{visit.num}
        where blog_id=#{visit.blogId}
    </update>

    <select id="getAllVisitSum" resultType="int">
        select sum(num) as num
        from visit
   </select>

    <delete id="deleteById">
        delete
        from visit
        where blog_id=#{id}
   </delete>
</mapper>